<h2 class="section-title">New Member</h2>
<form action="/farms" method="POST" enctype="multipart/form-data">

    <%- include('_form') %>
    <%- include('../partials/errorMessage')%>
    
    <div class="btn-edit">
        <button class="btn btn-show-page"><a href="/farms">Cancel</a></button>
        <button class="btn btn-show-page" type="submit">Create</button>
    </div>
</form>