<section class="section-promote">
    <div class="main-promote">
        <h3 class="promote-text">20% off online purchase! use code: SUNNYDAY</h3>
    </div>
    <div class="search-bar">
        <input class="item-input" type="text" placeholder="Search Item Here...">
    </div>
</section>
<section>
    <h2 class="section-title">Vegetable</h1>
    <div class="section-container">
        <div class="item-frame">
            <span class="item-title">Lettuce</span>
            <img class="item-image" src="images/v1.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
        <div class="item-frame">
            <span class="item-title">Carrot</span>
            <img class="item-image" src="images/v2.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
        <div class="item-frame">
            <span class="item-title">Sweet Pepper</span>
            <img class="item-image" src="images/v3.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
        <div class="item-frame">
            <span class="item-title">Broccoli</span>
            <img class="item-image" src="images/v4.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
    </div>
</section>
<section>
    <h2 class="section-title">Fruit</h1>
    <div class="section-container">
        <div class="item-frame">
            <span class="item-title">Kiwifruit</span>
            <img class="item-image" src="images/f1.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
        <div class="item-frame">
            <span class="item-title">Strawberry</span>
            <img class="item-image" src="images/f2.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
        <div class="item-frame">
            <span class="item-title">Orange</span>
            <img class="item-image" src="images/f3.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
        <div class="item-frame">
            <span class="item-title">Apple</span>
            <img class="item-image" src="images/f4.png">
            <div class="item-detail">
                <span class="item-price">$10</span>
                <button class="btn add-to-cart" type="button">Add to Cart</button>  
            </div>
        </div>
    </div>
</section>
<section>
    <div class="modal" id="cart-modal">
        <div class="modal-header">
            <h1 class="section-title modal-title">Cart</h1>
            <button data-close-modal class="modal-close-btn" type="button">&times;</button>
        </div>
            <div class="basic-container cart-container">
            <div class="cart-style">
                <span class="cart-table cart-item">Item</span>
                <span class="cart-table cart-price">Price</span>
                <span class="cart-table cart-quantity">Quantity</span>
                <span class="cart-table cart-subtotal">Subtotal</span>
            </div>
            <div class="scroll-items">
                <div class="shopping-cart">
                </div>
                <div class="total-price">
                    <span>Total</span>
                    <span class="cart-total-price">$0</span>
                </div>
                <div class="purchase">
                    <button data-modal-purchase class="btn btn-purchase" type="button">Purchase</button>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
</section>

<script src="/main.js"></script>