<header class="main-header">
    <nav class="navi">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a data-modal-target="#cart-modal">Cart</a></li>
            <li><a href="/farms">Member</a></li>
            <li><a href="/farms/new">Join Us</a></li>
        </ul>
    </nav>
    <h1 class="main-name main-name-large">Organic Booth</h1>
</header>